# Lines starting with '#' will be removed
On ${sentdate}, ${fromname} wrote:
${quote}

Thanks, I've applied this to be picked up through the BMC tree.

# if ~/.signature exists, it will be put here, otherwise
# the contents will be "user.name <user.email>" from gitconfig
--
${signature}
